.banner-icon{
    display:block;
    font-size: 20px;
    line-height: 50px;
    color:white;
    width: 100px;
    height: 50px;
    text-align: center;
}

.banner-icon-text{
    font-size:12px; 
    margin-top:30px; 
    display:block; 
    text-align:center
}

.center{
    text-align: center;
    width: 100%;
}


.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 100px;
    background: black;
}
